* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 64.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}
body {
  height: 100%;
  width: 100%;
  background:radial-gradient( #0c0012,#0F0314, #320b2b);
}

/* Background Glow Effects */
.glow-1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, rgba(168,85,247,0.4) 0%, rgba(0,0,0,0) 70%);
  z-index:-1;
}
 .glow-2 { 
  position: absolute;
  top: 90%;
  left: 70%;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, rgba(236,72,153,0.25) 0%, rgba(0,0,0,0) 70%);
  z-index: 1;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px 8%;
  z-index: 1000;
  height: 70px;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
.navbar .nav2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.navbar h2 {
  background: linear-gradient(90deg, #a855f7 0%, #d946ef 50%, #ec4899 100%);
  background-clip: text;
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;

  font-size: 20px;
  font-weight: 300;
}
.nav2 a {
  font-size: 17px;
  color: white;
  text-decoration: none;
  font-weight: lighter;
}
.nav2 a:hover {
  background: linear-gradient(90deg, #a855f7 0%, #d946ef 50%, #ec4899 100%);
  background-clip: text;
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
}

/* Home Section */
.home {
  background: none;
  flex: 1;
  gap: 50px;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12rem;
  gap: 60px;
  /* margin-top: 7rem; */
}
.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 130px 0;
}
.home-content .text h1 {
  font-size: 5rem;
  line-height: 1.2;
  font-weight: bolder;
  color: #fffcfc;
  margin-top: 0;
  cursor: pointer;
}
.home-content .text h2 {
  font-size: 40px;
  cursor: pointer;
  background: linear-gradient(90deg, #a855f7 0%, #D05B7F, #ec4899 100%);
  background-clip: text;
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
}
.home-content .text p {
  font-size: 18px;
  font-weight: 100;
  color: white;
  margin: 30px 0 50px;
  width: 70%;
  line-height: 1.5;
  letter-spacing: 1px;
}
.image img {
  border-radius: 50%;
  transition: 0.4s;
  height: 340px;
  width: 330px;
  margin: 30px;
  margin-top: 60px;
  box-shadow: 0 0 5px 5px rgba(204, 65, 202, 0.31) ;
}
.btn-1 {
  padding: 10px 20px;
  background: none;
  margin-right: 30px;
  border: 0;
  outline: none;
  color: rgb(236, 230, 230);
  cursor: pointer;
  font-size: 18px;
  font-weight: 500px;
  border-radius: 30px;
  background: linear-gradient(#b531cd, #c84e9e, #e75c7d);
  box-shadow: 0px 8px 20px rgba(204, 65, 202, 0.31);
  transition: 0.7s;
}
.btn-1:hover {
  background: none;
  border: 2px solid hotpink;
  color: rgb(240, 236, 236);
}
.btn-2 {
 padding: 10px 20px;
  background: none;
  margin-right: 30px;
  border: 0;
  outline: none;
  color: rgb(236, 230, 230);
  cursor: pointer;
  font-size: 18px;
  font-weight: 500px;
  border-radius: 30px;
  background: none;
  border: 2px solid hotpink;
  box-shadow: 0px 8px 20px rgba(204, 65, 202, 0.31);
  transition: 0.7s;
}
.btn-2:hover{
  background: linear-gradient(#b531cd, #c84e9e, #e75c7d);
  color: rgb(240, 236, 236);
}

/* About */
.about {
  padding: 0 10rem;
}
.about h2{
  color: white;
  font-size: 50px;
  text-align: center;
  margin-top: -20px;
  font-weight: 500;
}
.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  gap: 10rem;
  padding: 0px 10px 10px;
  height: auto;
  width: 90%;
  margin: 20px 40px;
}
.about-text h4{
  font-size: 38px;
  color: white;
  padding: 10px 0;
}
.about-text p {
  font-size: 15px;
  color: rgb(243, 240, 240);
  word-spacing: 2px;
  line-height: 1.7;
}
.about-text span {
  background: linear-gradient(90deg, #a855f7 0%, #D05B7F, #ec4899 100%);
  background-clip: text;
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.about-image image{
  border-radius: 50%;
  transition: 0.4s;
  height: 340px;
  width: 330px;
  margin: 30px;
  margin-top: 60px;
  box-shadow: 0 10px 25px rgba(204, 65, 202, 0.31) ;
}

/* Skills */
.heading {
  text-align: center;
  margin-bottom: 50px;
  color: white;
  font-size: 50px;
  margin-top: -20px;
  font-weight: 500;
}
.skills {
  padding: 80px 10%;
  background: none;
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.skills-card {
  background: linear-gradient(#37073f, #30034d);
  border-radius: 2rem;
  padding: 3rem 2rem;
  transition: 0.3s;
}
.skills-card:hover {
  transform: translateY(-8px);
}
.skills-card h3 {
  font-size: 15px;
  color: #fffafc;
  margin-bottom: 15px;
}
.skills-card ul {
  padding-left: 20px;
}
.skills-card li {
  font-size: 1.3rem;
  margin: 10px 0;
  color: white;
}

/* Projects */
.projects {
  padding: 80px 8%;
  color: white;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.project-card {
  padding: 12px;
  border: 1px solid rgba(168, 85, 247, 0.35);
  border-radius: 8px;
  background: rgba(20, 5, 30, 0.7);
  box-shadow:0 0 10px rgba(168, 85, 247, 0.15);
  transition: 0.3s;
}
.project-card:hover {
  transform: translateY(-8px);
  box-shadow:
    0 0 20px rgba(168, 85, 247, 0.35);
}
.project-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 5px;
}
.project-card h3 {
  font-size: 15px;
  margin: 12px 0 7px;
}
.project-card p {
  color: #aaa;
  font-size: 10px;
  line-height: 2;
}
.project-tech {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin: 12px 0;
}
.project-tech span {
  font-size: 8px;
  padding: 4px 7px;
  border-radius: 10px;
  color: #d8a8ff;
  background: rgba(168, 85, 247, 0.12);
}
.project-buttons {
  display: flex;
  gap: 7px;
}
.project-buttons a {
  text-decoration: none;
  font-size: 10px;
  padding: 7px 15px;
  border-radius: 50px;
}
.demo-btn {
  color: white;
  background: linear-gradient(90deg, #9333ea, #ec4899); 
}
.demo-btn  i{
  font-size: 10px;
  padding: 0 5px 0;
}
.github-btn {
  color: #d8a8ff;
  border: 1px solid #7e22ce;
}

/* Contact Section */
.contact {
  min-height: 100vh;
  padding: 50px 8%;
  background: none;
  color: white;
}
.wrapper1 {
  max-width: 600px;
  margin: auto;
  padding: 35px;
  border: 1px solid rgba(225, 85, 247, 0.35);
  border-radius: 15px;
  background: none;
  box-shadow: 0 0 25px rgba(168, 85, 247, 0.15);
}
.input-fields label,
.msg label {
  display: block;
  color: rgb(197, 192, 192);
  font-size: 13px;
  margin-bottom: 8px;
}
.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  background: transparent;
  border: 1px solid #5151518d;
  border-radius: 8px;
  outline: none;
  color: white;
  box-sizing: border-box;
}
.input:focus,
.msg textarea:focus {
  border-color: #b7b2b8ca;
  box-shadow: 0 0 10px rgba(209, 77, 226, 0.25);
}
.msg textarea {
  width: 100%;
  height: 125px;
  padding: 12px;
  background: transparent;
  border: 1px solid #5151518d;
  border-radius: 8px;
  outline: none;
  color: white;
  resize: none;
  box-sizing: border-box;
}
.btn1 {
  margin-top: 15px;
  padding: 11px 22px;
  border: none;
  border-radius: 8px;
  color: white;
  background: linear-gradient(90deg, #9333ea, #ec4899);
  cursor: pointer;
  transform: translateY(-1px);
  transition: 0.3s;
}
.btn1:hover {
  box-shadow: 0 0 15px rgba(236, 72, 153, 0.4);
  background: none;
  border: 2px solid rgba(236, 72, 153, 0.4);
}


/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 1.3rem;
  margin: 1rem;
}
.footer p{
  color: rgb(200, 192, 192);
  margin: 5rem 5rem 0;
  font-size: 1.2rem;
}
.footer .nav2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 5rem 5rem 0;
}
.footer .nav2 a{
  font-size: 13px;
  color: #7f7a82;
}